extends layout
block content
 h1= title
  if (toShow == null)
    h2 No instance to Create
  else
    form(id='unicycleForm', action="/resource/unicycle", method="POST")
    div.form-group
      label.unicycleAttr(for='unicycle_type') unicycle type
      input#unicycle_type(type='text', name='unicycle_type')
    div.form-group
      label.unicycleAttr(for='unicycle_size') unicycle size
      input#unicycle_size(type='text', name='unicycle_size')
    div.form-group
      label.unicycleAttr(for='unicycle_cost') unicycle cost
      input#unicycle_cost(type='number', name='unicycle_cost')
    input(type="submit")
    script.
      document.forms['unicycleForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Save succeded")
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Save failed " + error )
        });
      });